@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Source+Sans+Pro&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #131313;
}

h1 {
    font-family: 'Heebo', sans-serif;
    color: #ddf840;
    font-size: 70px;
}
    
#error{
    font-size: 2rem;
    color: #ddf840;
}

.error-messsage{
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-button{
    display: flex;
    justify-content: center;
}

#home-button{
    margin-top: 20px;
    padding: 5 10;
    font-size: 2rem;
    background-color: #1E58C2;
    color: white;
}

#home-button:hover{
    cursor: pointer;
}

.container{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.btn {
    display: block;
    margin-top: 100px;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: #1E58C2;
    color: #ddf840;
    cursor: pointer;
    font-family: inherit;
    font-size: 50px;
    width: 300px;
}

.btn:hover {
    background-color:#14387c
}

.quiz-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#question{
    font-size: 5rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #ddf840;
}

.answer{
    display: flex;
    font-size: 3rem;
    margin-top: 10;
    width: 100%;
    border: 3px solid #14387c;
}

.answer:hover{
    cursor: pointer;
}

.letter{
    color: white;
    background-color:#1E58C2;
    padding: 10 30;
}

.option{
    color: #1E58C2;
    background-color: rgb(190, 190, 190);
    padding: 15;
    width: 100%;
}

.option:hover{
    background-color: #808896;
    cursor: pointer;
}

.scores{
    font-size: 2rem;
}

#correct-text{
    color: green;
}
#score{
    color:white;
}

#incorrect{
    color: white;
}

#incorrect-text{
    color: red;
}
